MIDNIGHT_NETWORK_ID=undeployed
MIDNIGHT_NODE_URL=http://127.0.0.1:9944
MIDNIGHT_NODE_WS_URL=ws://127.0.0.1:9944
MIDNIGHT_INDEXER_URL=http://127.0.0.1:8088/api/v4/graphql
MIDNIGHT_INDEXER_WS_URL=ws://127.0.0.1:8088/api/v4/graphql/ws
MIDNIGHT_PROOF_SERVER_URL=http://127.0.0.1:6300
